der: support for CHOICE types with context-specific subtypes that have the same underlying type

Before going too deep into this, I'm trying to implement a Subject Alternative Names struct, RFC section link here: https://datatracker.ietf.org/doc/html/rfc2459#section-4.2.1.7

`General Name` here is a CHOICE, with 9 context-specific implicit tags. Several of these tags have the same underlying type.

I'm trying to implement the `Encodable`/`Decodable`/`Choice` traits on my `GeneralName` enum. I can't use the `Choice` derive macro because:
- It doesn't include `Ia5String` as a possible type (my main interest)
- Even if it did, the `Choice` derive macro does not allow for multiple enum variants of the subtype

Having dug into the expanded macro, I think I understand why, so I figured I could implement the traits on my own, but I'm running into trouble implementing `TryFrom<Any<'a>>`. Code snippet:
```rust
    fn try_from(any: Any<'a>) -> Result<Self, Self::Error> {
        match any.tag() {
            der::Tag::Ia5String => any
                .ia5_string()
                .ok()
                .and_then(|val| val.try_into().ok())
                .ok_or_else(|| der::Tag::Ia5String.value_error()),
            actual => Err(der::ErrorKind::UnexpectedTag {
                expected: None,
                actual,
            }
            .into()),
        }
    }
```

Should the tag requested here be an `Ia5String`, or do I need to manually interpret the tag? I also don't understand how to interpret implicit context-specific tags, and the `ContextSpecific` tag type seems to set the constructed bit even though, in the X509 certificates I've parsed, none of them do (the tag for each SAN goes `0x82 <len> <value>`.

I've gotten close to a solution, however it has led me to believe there is a bug in the DER-encoding: `ContextSpecific` structs are always marked as being constructed, however this is not always true; for example, implicitly tagged `ContextSpecific` structs are only marked as constructed if the underlying type is constructed, otherwise it should be marked as primitive. I'm looking into PR'ing this change, but I'm not sure how to determine, when `octet(...)` is called, if constructed should be set or not.

From what I can gather, it sounds like the real issue is assuming that application, context-specific, and private tags are always constructed, e.g. here (note the `true` being passed to `octet`:

https://github.com/RustCrypto/formats/blob/8c551d4/der/src/tag.rs#L125-L127

...and here:

https://github.com/RustCrypto/formats/blob/8c551d4/der/src/tag.rs#L172-L174

So it sounds like these variants need to be modified to carry the constructed bit in addition to the `TagNumber`, either by switching them all to have fields like `constructed` and `number`, or possibly introducing an additional struct that captures that information and can be used for all three.

It's a breaking change, but fortunately the plan was to make some breaking changes to `der` soon anyway, so that's fine.

BTW you might find this a helpful example of context specific tag processing:

https://github.com/RustCrypto/formats/blob/8c551d478478d957924b5c611e3cba1595c1451d/pkcs8/src/private_key_info.rs#L197-L206

However those APIs will also need to be updated to handle constructed vs non-constructed context-specific tags. Perhaps that can be done by incorporating the inner ASN.1 type they wrap somehow, either inferring the constructed bit from the return type, or passing in the expected inner ASN.1 tag.

> implicitly tagged ContextSpecific structs are only marked as constructed if the underlying type is constructed, otherwise it should be marked as primitive

I'm not sure it's quite as simple as that? Consider these two schemas, from RFC2459:

```
      GeneralName ::= CHOICE {
           otherName                       [0]     OtherName,
           rfc822Name                      [1]     IA5String,
           dNSName                         [2]     IA5String,
           x400Address                     [3]     ORAddress,
           directoryName                   [4]     Name,
           ediPartyName                    [5]     EDIPartyName,
           uniformResourceIdentifier       [6]     IA5String,
           iPAddress                       [7]     OCTET STRING,
           registeredID                    [8]     OBJECT IDENTIFIER}
```

...and the one implemented in `pkcs8` crate code snippet linked above, which is from [RFC5958 Section 2](https://datatracker.ietf.org/doc/html/rfc5958#section-2):

```
     OneAsymmetricKey ::= SEQUENCE {
       version                   Version,
       privateKeyAlgorithm       PrivateKeyAlgorithmIdentifier,
       privateKey                PrivateKey,
       attributes            [0] Attributes OPTIONAL,
       ...,
       [[2: publicKey        [1] PublicKey OPTIONAL ]],
       ...
     }

     PublicKey ::= BIT STRING
                        -- Content varies based on type of key.  The
                        -- algorithm identifier dictates the format of
                        -- the key.

     Attributes ::= SET OF Attribute { { OneAsymmetricKeyAttributes } }
```

The `PublicKey` is a `BIT STRING` which is not constructed, however `Attributes` are a `SET OF` which is marked as constructed.

The context-specific `PublicKey`, when it appears in a PKCS#8v2 `OneAsymmetricKey` document as serialized by OpenSSL, is contained within an `OPTIONAL` context-specific field `1`, where the constructed bit is set.


For context, here's a dump of an example OpenSSL-generated PKCS#8v2 key from our test cases:

```
$ openssl asn1parse -inform der -in ed25519-priv-pkcs8v2.der
    0:d=0  hl=2 l=  83 cons: SEQUENCE
    2:d=1  hl=2 l=   1 prim: INTEGER           :01
    5:d=1  hl=2 l=   5 cons: SEQUENCE
    7:d=2  hl=2 l=   3 prim: OBJECT            :Ed25519
   12:d=1  hl=2 l=  34 prim: OCTET STRING      [HEX DUMP]:0420...
   48:d=1  hl=2 l=  35 cons: cont [ 1 ]
   50:d=2  hl=2 l=  33 prim: BIT STRING
```

The curious thing here is the last two lines: a primitive BIT STRING is contained within a constructed context-specific field.

Perhaps worth noting here is PKCS#8 is technically BER. Rereading X.690 I believe a DER encoding of the same would inherit the constructed bit for the context-specific tag from the inner type, however I'm not able to find a specific citation for that.

FWIW encoding of CHOICE is covered in X.690 8.13 and 8.14.4 as well as X.680 31.2.7.

I think I now understand how this is supposed to work. It ended up being a much thornier problem than I realized. I'd also be willing to tackle the implementation, as it seems rather tricky.

The proper DER serialization of various alternatives of a `CHOICE` as in `GeneralName` are tagged as primitive Context-Specific, with the inner ASN.1 type IMPLICIT.

The encoding used by OpenSSL for the example PKCS#8v2 key is non-canonical BER. This is a bit unfortunate because until now I had assumed it was valid DER. I've wanted to avoid introducing explicit BER support: it goes against the name of the crate, but also introduces codepaths that could lead to potential canonicalization bugs. However, it seems likely at this point we have no choice but to introduce support for a limited number of BER productions, gated behind some sort of lax mode that skips certain canonicalization checks (though I would still like to avoid introducing full-blown BER support).

I would suggest the following resolution:

1. Add support for parsing the constructed bit to `Tag::Application`, `Tag::ContextSpecific`,  and `Tag::Private`
2. Add support for primitive `ContextSpecific` values. This is a bit tricky not only because it requires changes to the fields of the `ContextSpecific` struct, but also a different decoding approach than exists today, which effectively rewrites the context-specific tag using the tag of the IMPLICIT inner type. The inner ASN.1 type can be inferred from the return value, however an additional trait may be needed (e.g. `trait Primitive: Tagged {}`) in order to make this all work.
3. The most tricky part, and one that might be addressed separately: introduce a "lax" mode that accepts some BER productions, and reject constructed Context-Specific fields with an inner primitive value as non-canonical when parsing in strict DER mode.

Thank you for the breakdown @tarcieri, you're absolutely right on all counts.

I apologize for opening this particular can of worms.

Resolution path looks great. Diving deeper into the code now, will see if I can provide any help.

One question re step 3, what would be interface for enabling/disabling this mode, and what modularity would you have in picking what things are allowed or not?

It seems adding a "lax" mode may be unnecessary after all. It was pointed out to me that the test vector in question doesn't match RFC8410's encoding, which uses an implicit `BIT STRING`:

https://datatracker.ietf.org/doc/html/rfc8410#section-10.3

```
   81  33:   [1] 00 19 BF 44 09 69 84 CD FE 85 41 BA C1 67 DC 3B
                 96 C8 50 86 AA 30 B6 B6 CB 0C 5C 38 AD 70 31 66
                 E1
```

That decodes as a primitive Context-Specific tag with a number of 1.

So it seems this may all be much ado about a bad test vector. I will need to look into its provenance.

Interesting, did OpenSSL produce this test vector directly?

I've made an attempt at step 1 of the list of resolutions you've posted, let me know if this is the direction you'd like to go in:
https://github.com/RustCrypto/formats/pull/54/files

I thought it was from OpenSSL, but I'm not able to reproduce it. I may be mistaken. Seems we better need to note the provenance of our test vectors.

As it were, I also had a local WIP going I didn't push up, but here it is. Similar to yours, although I changed the `Tag` variants to have structural members: https://github.com/RustCrypto/formats/pull/55

Roger, I've closed mine in favor of #55, there's just tests to fix in `tag.rs`.

Only left one comment regarding decoding 0x32 as an Application tag.

Looking at the `context_specific(...)` method in in the `Decoder` impl, to address step 2:
```rust
    pub fn context_specific(&mut self, tag: TagNumber) -> Result<Option<Any<'a>>> {
        loop {
            match self.peek().map(Tag::try_from).transpose()? {
                Some(Tag::ContextSpecific {
                    number: actual_tag, ..
                }) => {
                    match actual_tag.cmp(&tag) {
                        Ordering::Less => {
                            // Decode and ignore lower-numbered fields if
                            // they parse correctly.
                            self.decode::<ContextSpecific<'_>>()?;
                        }
                        Ordering::Equal => {
                            return self
                                .decode::<ContextSpecific<'_>>()
                                .map(|cs| Some(cs.value))
                        }
                        Ordering::Greater => return Ok(None),
                    }
                }
                _ => return Ok(None),
            }
        }
    }
```

I'm trying out some alternatives for decoding the constructed vs primitive context-specific structs. In the current situation, the context-specific struct is decoded, then the inner TLV is extracted, this is converted into an Any, and that Any is returned as the decoded context-specific.

In the primitive case, the extracted value is not a valid TLV and cannot be converted into an Any. My idea was to, in this case, return the entire ContextSpecific, and allow consuming code to determine what to do with it. Thoughts?

I'm not sure I follow the need for the new `trait Primitive: Tagged {}`

I'm addressing that in my PR as well (they're very much related).

I ended up returning a `ContextSpecific` there for the reasons you describe.

I'm adding methods to further consume the body. It's possible to convert it into an `Any`, but it involves constructing the tag for the `Any` implicitly by inferring it from the return type.

I agree `Primitive` isn't needed now. I was wondering about some way to infer primitive vs constructed, but that's easy enough to do with `Tagged`, as the `Tag` itself knows whether the value is constructed or primitive based on whether the constructed bit is set in its octet serialization.

> I'm adding methods to further consume the body. It's possible to convert it into an `Any`, but it involves constructing the tag for the `Any` implicitly by inferring it from the return type.

How do you determine the type for the Any when the primitive context-specific does not include any type information as to the inner type? For example, in the case of a SAN, `0x82 0x09 <bytes for 'localhost'>` does not reveal that `<bytes for localhost>` is an `Ia5String` unless you're doing it in the context of decoding a `GeneralName`.

By using a generic in the return value position, whose type carries both the relevant `Decode` implementation as well as the expected (implicit) tag via `Tagged::TAG`

Ahh I see, makes sense, thanks.

I've pushed my latest WIP in #55.

Will still need to go through and update e.g. the `pkcs8` crate (possibly using the RFC8410 test vector for PKCS#8v2).

I think to make this all work I'm going to have to refactor `ContextSpecific` into a newtype for `Any` which ensures that the tag is `Tag::ContextSpecific`.

Just pulled the changes into my project and got past the blocker that started this post, definitely a big improvement! Thanks :)

Great, glad to hear it! Are you working on an X.509 parser?

I'd also love to add custom derive support for this. Maybe something like:

```rust
#[derive(Message)]
pub enum MyEnum<'a> {
    #[asn1(context-specific = "1", type = "BIT STRING")]
    BitString(&'a [u8])
}
```

Other way around, I need to serialize x509 certs. Right now I'm using the non-rustcrypto x509 crate which works really well but it only supports providing extensions by inputting the serialized extension contents, there are no types defined for SANs, keyUsage, etc. I'm trying to formalize some of these types.

Sequence of GeneralName serialized perfect:
```
[30, 16, 82, 9, 6C, 6F, 63, 61, 6C, 68, 6F, 73, 74, 82, 9, 72, 65, 64, 61, 63, 74, 2E, 77, 73]
```

The added macro functionality would round out the context specific features really well. Would it be able to determine constructed/non-constructed in all cases?

> Would it be able to determine constructed/non-constructed in all cases?

Yes, if supporting certain BER constructions can be avoided, the mapping is actually pretty straightforward for DER alone:

- With `IMPLICIT`, the constructed bit reflects the constructed bit of the inner value
- `EXPLICIT` is always constructed

Do you want to add the macro work to this existing PR or leave it to a future one?

Seems like it can be implemented separately

Pushed up a refactor which makes `ContextSpecific` a newtype around `Any` which is needed to handle context-specific BIT STRING types.

I'm now noticing a few problems with the current implementation, which might need some further investigation.

It appears OpenSSL generates PKCS#8 EC keys containing an inner SEC1 private key which uses this same sort of BER encoding: a constructed context-specific field with an inner tagged primitive type. I need to completely confirm this is the case and post a full end-to-end reproduction.

This seems to go against a SHOULD in [RFC5913 Section 4](https://datatracker.ietf.org/doc/html/rfc5915#section-4), but is technically valid. So it seems a "lax" mode may be necessary.

Would lax mode affect both encoding and decoding or just one? It seems the sender (encoding) should always be serializing to canonical DER, and the receiver should be ready to accept BER, so would a lax mode simply accept BER-encoded fields during decoding or would it also recreate them during encoding?

Additionally, is openssl able to read the PKCS8 key if it is manually modified to not have a constructed context-specific holding a primitive type?

> Would lax mode affect both encoding and decoding or just one? 

Just decoding

> Additionally, is openssl able to read the PKCS8 key if it is manually modified to not have a constructed context-specific holding a primitive type?

I need to test that, but I'd hope so. RFC5913 says it's a MUST!

Okay, so the reason is the ASN.1 module defined in RFC5915 is explicitly tagged. So really there needs to be a parameter/flag for `EXPLICIT` vs `IMPLICIT`.

#61 implemented initial support for `IMPLICIT`, splitting `Decoder::context_specific` into separate `_implicit` and `_explicit` methods.

However, I'd like to introduce some additional traits (e.g. `FieldEncoder`, `FieldDecoder`) which would allow the two methods two bounds and thus be unified into a single method which takes a `TagMode` as a parameter.

Thanks for your tireless work @tarcieri , this is being used downstream with great success :)

#63 added the `FieldEncoder`/`FieldDecoder` traits which make it possible for blanket impls of `Encodable`/`Decodable` to handle TLV encoding/decoding, and also make `IMPLICIT` more straightforward to support.

The last thing I want to do is make `Decoder::context_specific` accept a `TagMode` as a parameter.

@tarcieri do you know when it'd be possible to cut a release on crates.io?

I can cut a prerelease, although I would like to unify the `context_specific*` methods first

Using the `TagMode` parameter I assume?

But sounds good :)

Yep