Should `Validity::decode_value` error when `GeneralizedTime` is used for dates before 2050?

[RFC 5280 § 4.1.2.5.](https://www.rfc-editor.org/rfc/rfc5280#section-4.1.2.5) requires all dates before 2050 to be encoded as UTCTime:

> CAs conforming to this profile MUST always encode certificate validity dates through the year 2049 as UTCTime

however that is not enforced by `Validity::decode_value`. Similarly `Validity::encode_value` encodes without erring or implicitly converting such a `GeneralizedTime` into a `UtcTime` despite the RFC requiring it.

Yes, that would be a good idea. I'm not sure if it makes sense to parameterize `Validity` with a `Profile` in such a case and implement that logic for `Validity<Rfc5820>` /cc @baloo 

We would have to ditch custom derive, but that's not a big issue.

It would be good to use a custom error type here too so we can provide a better error, although that can be handled as a TODO/followup.