Fail to read PEM file with `ed22519` private key

I'm struggling with reading `ed22519` keys from PEM files.

If I create a PEM file as follows

```bash
openssl genpkey -algorithm ed25519 > ed25519.pem
```

And try to load it with the following code:

```rust
let pkcs8_doc = PrivateKeyDocument::read_pkcs8_pem_file(path)?;
let pk_info = pkcs8_doc.decode();
let private_key = pk_info.private_key;
```

The length `private_key.len()` is 34 bytes but should actually be 32 bytes. If I throw away the first two bytes of `private_key` everything works as expected.

Am I doing something wrong here, or is this a bug in the library? Thanks!

Use the `ed25519::KeypairBytes` type to parse a PKCS#8 Ed25519 key:

https://docs.rs/ed25519/latest/ed25519/pkcs8/struct.KeypairBytes.html

Per [RFC8410 Section 7](https://datatracker.ietf.org/doc/html/rfc8410#section-7), the private key is an OCTET STRING containing another OCTET STRING:

>   For the keys defined in this document, the private key is always an
>   opaque byte sequence.  The ASN.1 type CurvePrivateKey is defined in
>   this document to hold the byte sequence.  Thus, when encoding a
>   OneAsymmetricKey object, the private key is wrapped in a
>   CurvePrivateKey object and wrapped by the OCTET STRING of the
>   "privateKey" field.
>
>   CurvePrivateKey ::= OCTET STRING

The `ed25519::KeypairBytes` type will handle removing the OCTET STRING header when the key is decoded:

https://github.com/RustCrypto/signatures/blob/0ed65a1dffea36bda55afdbeb586b3d6ad970dde/ed25519/src/pkcs8.rs#L77-L88



Awesome, thanks for the quick reply!