`Time::try_from` violates RFC 5280 by returning `GeneralizedTime` instead of `UtcTime`

[RFC 5280 § 4.1.2.5.](https://www.rfc-editor.org/rfc/rfc5280#section-4.1.2.5) states:

> CAs conforming to this profile MUST always encode certificate validity dates through the year 2049 as UTCTime

however [`Time::try_from`](https://github.com/RustCrypto/formats/blob/master/x509-cert/src/time.rs#L121) always returns a `GeneralizedTime`.