pkcs8: Decoding DER Should Use EXPLICIT Tagging

I think, crate pkcs8 uses a wrong tagging format for `PrivateKeyInfo/OneAsymmetricKey`. According to RFC 5958, the public key should be explicitly tagged:
```text
PrivateKeyInfo ::= OneAsymmetricKey

OneAsymmetricKey ::= SEQUENCE {
    version                   Version,
    privateKeyAlgorithm       PrivateKeyAlgorithmIdentifier,
    privateKey                PrivateKey,
    attributes            [0] Attributes OPTIONAL,
    ...,
    [[2: publicKey        [1] PublicKey OPTIONAL ]],
    ...
  }

Version ::= INTEGER { v1(0), v2(1) } (v1, ..., v2)

PrivateKeyAlgorithmIdentifier ::= AlgorithmIdentifier

PrivateKey ::= OCTET STRING

Attributes ::= SET OF Attribute

PublicKey ::= BIT STRING
```
However, the decoder for `PrivateKeyInfo` [goes for implicit tagging.](https://github.com/RustCrypto/formats/blob/1a5edbb86d1fbae5cf61ebb9f1d9dcc97a26768e/pkcs8/src/private_key_info.rs#L184)

(Same tagging is used in [`PrivateKeyInfo::public_key_bit_string()`](https://github.com/RustCrypto/formats/blob/1a5edbb86d1fbae5cf61ebb9f1d9dcc97a26768e/pkcs8/src/private_key_info.rs#L160)).

This seems to be wrong. I stumbled over this problem, when decoding PKCS #8 DER, that was generated by rcgen:

```rust
fn main() {
    let key_pair = rcgen::KeyPair::generate(&rcgen::PKCS_ED25519).unwrap();
    let key_pair_der = key_pair.serialize_der();
    let key_pair_pkcs8 = pkcs8::PrivateKeyInfo::from_der(key_pair_der.as_slice()).unwrap();
}
```

This results in the following error:

```
thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: Error { kind: Noncanonical { tag: Tag(0xa1: CONTEXT-SPECIFIC [1] (constructed)) }, position: None }'
```

and changing the decoder to use ` TagMode::Explicit` solves the problem.

I will create a PR, but it would be nice to hear, that I don't bark up the wrong tree.



I don't think this is a correct interpretation.

If you check [RFC5208 § 5](https://www.rfc-editor.org/rfc/rfc5208#section-5), you'll see the attributes were previously using `IMPLICIT`:

```
attributes           [0]  IMPLICIT Attributes OPTIONAL
```

[RFC5958 § 1.3](https://www.rfc-editor.org/rfc/rfc5958#section-1.3) notes `IMPLICIT` was removed from the schema because it's redundant:

```
 - Removed redundant IMPLICIT from attributes.
```

The ASN.1 module in [RFC5958 Appendix A](https://www.rfc-editor.org/rfc/rfc5958#appendix-A) is defined to use implicit tags:

```
 DEFINITIONS IMPLICIT TAGS ::=
```

We test our implementation using a test vector from [RFC8410 § 10.3](https://www.rfc-editor.org/rfc/rfc8410#section-10.3):

```
   -----BEGIN PRIVATE KEY-----
   MHICAQEwBQYDK2VwBCIEINTuctv5E1hK1bbY8fdp+K06/nwoy/HU++CXqI9EdVhC
   oB8wHQYKKoZIhvcNAQkJFDEPDA1DdXJkbGUgQ2hhaXJzgSEAGb9ECWmEzf6FQbrB
   Z9w7lshQhqowtrbLDFw4rXAxZuE=
   -----END PRIVATE KEY-----
```

You can find this test vector checked into our repository here:

https://github.com/RustCrypto/formats/blob/master/pkcs8/tests/examples/ed25519-priv-pkcs8v2.pem

And used in a test here:

https://github.com/RustCrypto/formats/blob/e10afe6/pkcs8/tests/private_key.rs#L82-L99

Other folks have hit this issue and reached same conclusion that the tagging is wrong in the ring-generated artifact. There’s a PR that purports to fix it here: https://github.com/briansmith/ring/pull/1518. 

 

From: Tony Arcieri ***@***.***>
Reply-To: RustCrypto/formats ***@***.***>
Date: Saturday, March 25, 2023 at 1:57 PM
To: RustCrypto/formats ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [RustCrypto/formats] pkcs8: Decoding DER Should Use EXPLICIT Tagging (Issue #948)

 

I don't think this is a correct interpretation.

If you check RFC5208 § 5, you'll see the attributes were previously using IMPLICIT:
attributes           [0]  IMPLICIT Attributes OPTIONAL
RFC5958 § 1.3 notes IMPLICIT was removed from the schema because it's redundant:
 - Removed redundant IMPLICIT from attributes.
The ASN.1 module in RFC5958 Appendix A is defined to use implicit tags:
 DEFINITIONS IMPLICIT TAGS ::=
We test our implementation using a test vector from RFC8410 § 10.3:
   -----BEGIN PRIVATE KEY-----
   MHICAQEwBQYDK2VwBCIEINTuctv5E1hK1bbY8fdp+K06/nwoy/HU++CXqI9EdVhC
   oB8wHQYKKoZIhvcNAQkJFDEPDA1DdXJkbGUgQ2hhaXJzgSEAGb9ECWmEzf6FQbrB
   Z9w7lshQhqowtrbLDFw4rXAxZuE=
   -----END PRIVATE KEY-----
You can find this test vector checked into our repository here:

https://github.com/RustCrypto/formats/blob/master/pkcs8/tests/examples/ed25519-priv-pkcs8v2.pem

And used in a test here:

https://github.com/RustCrypto/formats/blob/e10afe6/pkcs8/tests/private_key.rs#L82-L99

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you are subscribed to this thread.Message ID: ***@***.***>

