spki: fingerprint/hash support

[RFC 7469 Section 2.4](https://tools.ietf.org/html/rfc7469#section-2.4) defines an algorithm for computing a cryptographic hash (namely SHA-256) for X.509 [SubjectPublicKeyInfo](https://docs.rs/spki/latest/spki/struct.SubjectPublicKeyInfo.html) to be used as a fingerprint for the purposes of public key pinning.

We could potentially add an optional feature that pulls in `sha2` for the purposes of computing these fingerprints.

Added in #36